page-iscashpaid {
    .grid {
        //height: 120%;
        //justify-content: center;
        //width: 150%;
        //margin-left: 47%;
       // margin-top:155%;
       position: absolute;
       left:    45%;
       bottom:   0;
  }

  .iconx{
    font-size: 50px;
    text-align: center; //works
  }

}
