    .buttons {
      position: absolute;
      right: 3%;
      bottom: 2%;
  }

  .iconx{
    font-size: 60px;
    text-align: right; //works
  }
  .photo {
  position:relative;
  top: 30%;
  margin:0 auto;
  transform:translateY(-50%);
  }

 