
page-home {
.content {

  background-image: url('../../assets/imgs/background.png');
  background-position: center;
}
.grid {
  background-color: brown;
  height: 90%;
  position: relative;
  margin-top: 10%;
  }
  .rows {
    margin-bottom: 10%;
    }



}

