page-addneworex{
    
    .brick {
        background-color: #488aff;
        position: absolute;
        right:    0;
        bottom:   0;
       // height: 31%;
    }
    
    .listStyle {
    background-color: red;
    height: 75%;
    //margin-left: 0%;
    //width: 100%;
    
    }
    
    .sentence{
        position: absolute;
        right:    5%;
        bottom: 23%;
        text-align:center;
        color: #ffffff
    
    }
    
    .ion-row{
        
                border-bottom:1pt solid black;
                //border-top:1pt solid black;
              }
    
    
    .columns{
      text-align: center;
    }
    
    .fabs {
        width: 100px !important;
        height: 100px !important;
        }
    
        .scroll {
            height: 83%;
            width: 100%;
            background-color: brown;
          }
    
        }
    
    