<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Purchases List</ion-title>
    <ion-buttons end (click)="producesound(1)">
      <button (click)="producesound()" ion-button>
          <ion-icon name="volume-up" style="font-size:30px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="background">
      <img class="welcome" src="assets/imgs/emptybuy-08.png"/>
</div>
 
    <ion-grid class="navBarGlobal">
      <ion-row>
         <ion-col col-4 class="">
         </ion-col>
        
        <ion-col col-4 class="">
            <button ion-button round (click)="producesound(2)">
            <ion-icon style="font-size:30px; z-index: 10;" name="cash"></ion-icon>
          </button>
         </ion-col>
       
        <ion-col col-4 class="navBarRight">
          <button ion-button round (click)="producesound(3)">
            <ion-icon style="font-size:30px; z-index: 10;" name="basket"></ion-icon>
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-scroll scrollX="true" scrollY="true" style="height: 74%;"> 
      <ion-list>
        <div *ngFor="let photo of photos; let id = index">
    <ion-item-sliding>
    <ion-item class="pictureAndQuantity">
      <ion-avatar class="avatarStyle" item-start (click)="takePhoto1(id)">
        <img [src]="photo"/>
      </ion-avatar>

    <div (click)="buymoreofthesame(id)" >
      <div class="quantityTag"><h2 style="font-size: 24px;">{{quantity[id]}}</h2></div>
      <h2 class="moneyTag" style="font-size: 24px;">$ {{totalmoneypaid[id]}}</h2>

</div>
    </ion-item>

      <ion-item-options side="right" >
      <button style="width:80px;" ion-button color="danger" (click)="gotodeleteitem(id)">
        <ion-icon name="trash" style="font-size:36px;"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</div>
  </ion-list>
</ion-scroll>

<div class="divContainer"> </div>

  <ion-fab bottom center class="buttonPosition">
    <button class="borderButton" ion-fab bottom (click)="takePhoto()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>




</ion-content>