page-productstobuy{

  
//entire body
  .content {
    background-color: #B0E0E6;
  }

   //navbar + list
  .listStyleProducts{
    height: 90%;
    background-color: #e5e8ec;  
  }

//nav with item and product names
  .gridNav{
    background-color: #B0E0E6;
    color:  $color-header;
    padding-top: 5px;
  }

  //refers to the elements in navbar
  .colTitle{
      text-align: center;
  }

  //refers only to pictures and quantities
  .gridList {
    width: 100%;
    margin-bottom:0%;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
  }

  //aligns the picture taken with the camera
  .alignPic{
      text-align: left;
  }

  //aligns the quantity in the list
   .alignProd{
      text-align: center;
  }

//position of add button at the bottom
  .buttonPosition{
    //margin-left: -10%;
    bottom: 4%;
    border-style: solid;
    border-color: #B0E0E6;
    border-radius: 3em;
    border-width: 4px;
  }

//scroll div allowing everything to disappear behing the add button
  .scroll {
    height: 84%;
    width: 100%;
  }
 
}
  
  
  
  
  
  