page-productstobuy{

  .content {
    background-color: white;
    background-position: center;
  }

 
  
  .buttonPosition{
    bottom: 14%;
  }
   
  .grid {
    width: 100%;
    margin-bottom:0%;
  }

  .gridColor{

    background-color: red;

  }

  
  
  .ion-row{
    // border-bottom:1pt solid black;
   // border-top:1pt solid black;
  }
  
  .fontTitle{
      text-align: center;
  }

  .alignPic{
      text-align: left;
  }

   .alignProd{
      text-align: center;
  }

  .scroll {
    height: 90%;
    width: 100%;
  }
  .listStyleProducts{
    height: 80%;
    background-color: #e5e8ec;
    //width: 100%;
  
  }
  
  }
  
  
  
  
  
  