.brick {
    background-color: #488aff;
    position: absolute;
    right:    0;
    bottom:   0;

}

.sentence{
    position: relative;
    right:    5%;
    bottom:   -40%;
    text-align:center;
    color: #ffffff

}
