   page-quantitytosell{

    .fab{
      //width: 180%;
     //font-size: 5px;
      //margin: 0 auto;
      //margin-top: -20%;
     // margin-left: 50%;
     // margin-right: 20%;
     // font-size: 60px;
     // margin-bottom: 0%;
     // height: 10px;
      //text-align: center;
      color: #ffffff;
    }

.pictureQuantityMoney {
      text-align: center;
      margin: auto;
      height: auto;
      position: relative;
}

.pictureQuantityMoney img {
width:100%;

}

.positionValue {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}



.iconf{
  font-size: 45px;
  text-align: center; //works
}
.iconm{
  font-size: 35px;
  text-align: center; //works
}




}
