page-quantity {
    .fab{
        //width: 180%;
       //font-size: 5px;
        //margin: 0 auto;
        //margin-top: -20%;
       // margin-left: 50%;
       margin-right: 20%;
       // font-size: 60px;
       // margin-bottom: 0%;
       // height: 10px;
        //text-align: center;
        color: #ffffff;
      }

      .grid {
        height: 100%;
        justify-content: center;
        width: 100%;
        margin-left: 20%;
        margin-bottom:0%;
  }

  .row{

        height: 7%;
  }

  .iconf{
    font-size: 45px;
    text-align: center; //works
  }
  .iconm{
    font-size: 30px;
    text-align: center; //works
  }

  .no-scroll .scroll-content{
    overflow: hidden;
  }

}
