page-welcomepicture {

.avatarSyle {

}


.avatarStyle img  {
    
    object-fit: cover;

    width:60%;
    margin: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}
