page-iscashpaid {
    .grid {
        //height: 120%;
        //justify-content: center;
        //width: 150%;
        margin-left: 47%;
        margin-top:155%;
  }

  .iconx{
    font-size: 50px;
    text-align: center; //works
  }

}
