page-iscashpaid {
    .grid {
       position: relative;
       left:    42%;
       top:   92%;
  }

  .iconx{
    font-size: 60px;
    text-align: center; //works
  }
  .photo {
  position:absolute;
  left: 0;
  right: 0;
  margin:0 auto;
  top:40%;
  transform:translateY(-50%);
  }

}
