page-deleterecording {
    .buttons {
        position: absolute;
        right: 3%;
        bottom: 2%;
       // background-color: yellow;
        //height: 10%;
        //width: 60%;
    }
    
    .iconx{
      font-size: 60px;
      text-align: right; //works
    }
    .photo {
    position:relative;
    top: 40%;
    margin:0 auto;
    transform:translateY(-50%);
    //background-color: black;
    }

}
