page-amountcollected {

  .pictureQuantityMoney {
      text-align: center;
      margin: auto;
      height: auto;
      position: relative;
}

.pictureQuantityMoney img {
width:100%;

}

.positionValue {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: 'Regular';
}



.iconf{
  font-size: 45px;
  text-align: center; //works
}
.iconm{
  font-size: 35px;
  text-align: center; //works
}


}
