page-welcome {
    .welcome {
       margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .position {

    text-align: center;
    width:100px;
    margin: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .fab {
width: 100px !important;
height: 100px !important;
}

}
