page-welcome {
    .welcome{
        margin-top: 55%;
    }

    .fab{
       margin-right: 20%;
        text-align: center;
        color: #ffffff;
      }

      .iconf{
        font-size: 3em;
        text-align: center; //works
      }

}
